<div class="body">
    <mat-card class="login">
        <mat-card-content>
            <img src="../../../assets/alien.svg" alt="alien">
            <mat-card-title>
                <h1>Register</h1>
                
            </mat-card-title>
            
        
            <form [formGroup]="usuarioReg">
                <mat-form-field class="ancho">
                    <mat-label>Nombre</mat-label>
                    <input matInput autocomplete="off" formControlName="name">    
                </mat-form-field>

                <mat-error *ngIf="this.usuarioReg.get('name')?.errors?.['required'] && (this.usuarioReg.get('name')?.dirty || this.usuarioReg.get('name')?.touched)" class="mensajeError">
                    {{validation_messages.name.required}}
                </mat-error>
                <mat-error *ngIf="this.usuarioReg.get('name')?.errors?.['minlength'] && (this.usuarioReg.get('name')?.dirty || this.usuarioReg.get('name')?.touched)" class="mensajeError">
                    {{validation_messages.name.minLength}}
                </mat-error>

                <mat-form-field class="ancho">
                    <mat-label>Email</mat-label>
                    <input matInput autocomplete="off" formControlName="email">
                </mat-form-field>

                <mat-error *ngIf=" (this.usuarioReg.get('email')?.errors?.['required'] || this.usuarioReg.get('email')?.errors?.['email'] ||this.usuarioReg.get('email')?.errors?.['pattern']) && (this.usuarioReg.get('email')?.dirty || this.usuarioReg.get('email')?.touched)" class="mensajeError">
                    {{validation_messages.email.error}}
                </mat-error>

                <mat-form-field class="ancho">
                    <mat-label>Contraseña</mat-label>
                    <input matInput autocomplete="off" [type]="hide? 'password' : 'text'" formControlName="password">
                    <button mat-icon-button matSuffix (click)="hide = !hide">
                        <mat-icon>
                            {{hide? 'visibility_off' : 'visibility'}}
                        </mat-icon>
                    </button>
                </mat-form-field>

                <mat-error *ngIf="this.usuarioReg.get('password')?.errors?.['required'] && (this.usuarioReg.get('password')?.dirty || this.usuarioReg.get('password')?.touched)" class="mensajeError">
                    {{validation_messages.password.required}}
                </mat-error>
                <mat-error *ngIf="this.usuarioReg.get('password')?.errors?.['minlength'] && (this.usuarioReg.get('password')?.dirty || this.usuarioReg.get('password')?.touched)" class="mensajeError">
                    {{validation_messages.password.minLength}}
                </mat-error>

                <mat-form-field class="ancho">
                    <mat-label>Repite la contraseña</mat-label>
                    <input matInput autocomplete="off" [type]="hideRepeat? 'password' : 'text'" formControlName="repPassword">
                    <button mat-icon-button matSuffix (click)="hideRepeat = !hideRepeat">
                        <mat-icon>
                            {{hideRepeat? 'visibility_off' : 'visibility'}}
                        </mat-icon>
                    </button>
                </mat-form-field>

                <mat-error *ngIf="this.usuarioReg.get('repPassword')?.errors?.['required'] && (this.usuarioReg.get('repPassword')?.dirty || this.usuarioReg.get('repPassword')?.touched)" class="mensajeError">
                    {{validation_messages.repPassword.required}}
                </mat-error>
                <mat-error *ngIf="this.usuarioReg.get('repPassword')?.value != this.usuarioReg.get('password')?.value && (this.usuarioReg.get('repPassword')?.dirty || this.usuarioReg.get('repPassword')?.touched)" class="mensajeError">
                    {{validation_messages.repPassword.different}}
                </mat-error>

                <button mat-raised-button color="primary" [disabled]="usuarioReg.invalid || this.usuarioReg.get('repPassword')?.value != this.usuarioReg.get('password')?.value" class="ancho boton" (click)="register(usuarioReg)">Registrarse</button>
            </form>

            <div class="error">
                <p>ERROR</p>
            </div>

            <!-- <button (click)="openDialog()">Dialog</button>  -->

            <p>Ya estas registrado? Ingresa por el <a routerLink="/login">Login</a></p>
        </mat-card-content>

    </mat-card>
</div>

